body {
    font-family: sans-serif;
  }
  
  ul {
    font-family: sans-serif;
    list-style: circle;
}

  ol {
    font-family: monospace;
  }

.list {
  list-style: square;
}

#date {
  font-size: 12px;
  font-style: italic;
  font-weight: bold;
}
